*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
  max-width: 100%;
  cursor: pointer;
}

select,
input,
button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

select:focus,
input:focus {
  outline: none;
}

body{
  padding: 6rem 2.4rem;
}


nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  /* background-color: #e0e0e0; */
  border-bottom: 10px solid #ededed;
  padding: .3rem 2.4rem;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: orange;
  border-radius: 50%  ;
  padding: 9px;
}
  
nav .logo-icon{

}


nav .menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 1rem 0;
}

nav .menu li {
  margin-right: 20px;
}

nav .menu a {
  color: #4b4b4b;
  /* color: #000; */
  text-decoration: none;
  font-size: .9rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 20px;
  width: 300px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  padding: 10px;
}

.product img {
  width: 100%;
}

.product h3 {
  margin-top: 0;
}

.product p {
  margin-bottom: 10px;
}

.product button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product button:hover {
  background-color: #45a049;
}

.detail-product{
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
}

.detail-product #category{
  font-weight: 700;
  font-size: .8rem;
  margin-bottom: 1rem;
  color: rgb(255, 187, 60);
}

.detail-product h1{
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.detail-product #price{
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: orange;
}

.detail-product h4,
.detail-product .quantity{
  margin-bottom: 1rem;
}

.detail-product article{
  max-width: 50%;
}
.detail-product aside{
  width: 25%;
}
.detail-product aside  div{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.add-to-cart{
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.detail-product #description{
  color: #484848;
}

.relate-product .info{
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: .7rem;
  font-size: .8rem;
  color: #4b4b4b;
  
}

.relate-product .info *{
  cursor: pointer;
}

.relate-product #price{
  font-weight: 700;
  font-size: 1.2rem;
  color: orange;
  margin-bottom: .5rem;
}

.relate-product .title-relate-product{
  margin-bottom: .5rem;
  font-size: 1rem;
  /* color: #4b4b4b; */
  /* font-weight: 500; */
  
}

.relate-product #description{
  font-size: .9rem;
  color: #4b4b4b;
  margin-bottom: .9rem;
}

.product-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem
}

.relate-product .add-to-cart{
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.relate-product .title{
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.relate-product .title::after{
  content: "";
  display: block;
  width: 3rem;
  height: 5px;
  background-color: orange;
  margin: 10px auto;
  border-radius: 50px;
}

.action{
  display: flex;
  gap: .3rem;
}

.add-to-cart-2{
  width: 50px;
}

